<?xml version="1.0"?>
<launch>
    <arg name="cam_num" default="1"/>
    <arg name="load_tf" default="true"/>
    <arg name="calib_mode" default="false"/>
    <arg name="high_res_color" default="false"/>
    <arg name="align_depth" default="false"/>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="cam_$(arg cam_num)"/>
        <!--Kinda messy (especially the whole environment variable thing), but the cleanest thing I could come up with to get args in a roslaunch-->
        <!--Can't use a .yaml because we need to access the values here-->
        <arg name="serial_no" value="$(eval env('CAM_' + str(cam_num) + '_SERIAL'))" />
        <arg name="filters" value="pointcloud"/> <!-- spatial,temporal,pointcloud"/> -->
        <arg name="align_depth" value="$(arg align_depth)"/>
        <arg name="enable_depth" value="false" if="$(arg calib_mode)"/>
        <arg name="enable_infra1" value="false" if="$(arg calib_mode)"/>
        <arg name="enable_infra2" value="false" if="$(arg calib_mode)"/>
        <arg name="color_fps" value="6" if="$(arg calib_mode)"/>

        <arg name="color_width" value="1920" if="$(arg high_res_color)"/>
        <arg name="color_height" value="1080" if="$(arg high_res_color)"/>
    </include>
    <!--static_transform_publisher x y z qx qy qz qw frame_id child_frame_id period_in_ms-->
    <node pkg="tf" type="static_transform_publisher" name="tf_pub_cam_$(arg cam_num)" if="$(eval arg('load_tf'))"
        args= "$(eval
            env('cam_' + str(cam_num) + '_x_pos') + ' ' +
            env('cam_' + str(cam_num) + '_y_pos') + ' ' +
            env('cam_' + str(cam_num) + '_z_pos') + ' ' +
            env('cam_' + str(cam_num) + '_x_rot') + ' ' +
            env('cam_' + str(cam_num) + '_y_rot') + ' ' +
            env('cam_' + str(cam_num) + '_z_rot') + ' ' +
            env('cam_' + str(cam_num) + '_w_rot') + ' ' +
            '/base_cam_link /cam_' + str(cam_num) + '_link 100'
        )"
    />
</launch>
