<?xml version="1.0"?>
<launch>
    <arg name="source_list" default="[/cam_0/points, /cam_1/points, /cam_2/points]"/>
    <node pkg="kuka_cam" type="merger_node" name="my_merger_node" output="screen"/>
    <rosparam param="pointcloud_topic_names" subst_value="True">$(arg source_list)</rosparam>
</launch>
